body .container {
  background-color: #4183C4; }

.header-pane {
  background-color: #1B1C1D;
  color: #4183C4; }

.header-pane .logo {
  text-transform: uppercase;
  letter-spacing: 0.2em; }

.header-pane .filter-active {
  color: #DB2828; }

.header-pane .filter-inactive {
  color: inherit; }

.header-pane a:link, a:visited, a:hover, a:active {
  color: #4183C4;
  opacity: 1; }

.navigation-pane .filters .search-terms .ui.transparent.inverted.input input {
  color: #DB2828; }

.navigation-pane .filter-text {
  color: #4183C4; }

.navigation-pane .pagination {
  color: #4183C4; }

.navigation-pane .page-count {
  color: #4183C4; }

.navigation-pane .ui.label {
  background-color: #1B1C1D;
  color: #4183C4;
  border: solid #1B1C1D 0.08em; }

.navigation-pane .ui.label > .icon {
  color: #4183C4; }

.navigation-pane a.ui.label:hover {
  background-color: #1B1C1D;
  border: solid #1B1C1D 0.08em; }

.navigation-pane a.ui.label:active {
  border: solid #DB2828 0.08em; }

/* Hide scrollbars as they look ugly! */
.content-pane::-webkit-scrollbar {
  display: none; }

.content-pane .description, .content-pane .short-description {
  font-size: 0.9rem;
  font-style: italic; }

.content-pane .meta .information {
  border: solid rgba(118, 118, 118, 0.2) 0.08em;
  border-radius: 0.3em;
  background-color: rgba(118, 118, 118, 0.05); }

.content-pane .text:not(:last-child) {
  border-right: solid rgba(118, 118, 118, 0.2) 0.06em; }

.content-pane .ui.feed > .event > .content .meta a {
  color: rgba(0, 0, 0, 0.6);
  opacity: inherit; }

.content-pane .ui.feed > .event > .content .meta > .icon {
  cursor: inherit; }

.footer-pane {
  background-color: #1B1C1D;
  color: #767676; }

.footer-pane a:link, a:visited, a:hover, a:active {
  color: #767676; }

.footer-pane i {
  color: #4183C4; }
div, header, nav, footer, main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body .container, main {
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh; }

.header-pane {
  align-items: center;
  justify-content: space-between;
  flex-basis: 3em; }

.header-pane .content.icon {
  margin-right: 1em; }

.header-pane .ui.avatar.image {
  margin-right: 0.4em; }

.navigation-pane {
  flex-basis: 3em;
  display: none; }

.navigation-pane .filters {
  justify-content: flex-end;
  padding: 1em 1em 0em 1em;
  flex: 1; }

.filters i.icon {
  margin: 0; }

.navigation-pane .filters .search-terms {
  display: flex;
  flex: 1; }

.navigation-pane .filters .search-terms .search-box {
  flex: 1;
  padding-right: 0; }

.navigation-pane .filters .search-terms .search.icon {
  margin-right: 0.6em; }

.navigation-pane .filter-text {
  margin: 0 0.5em; }

.navigation-pane .ui.label > .icon {
  margin: 0; }

.navigation-pane .ui.input input {
  padding: 0 1em 0 1em; }

.content-pane {
  width: 100vw;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  padding: 0em 2em 0em 2em; }

.content-pane > section {
  display: block;
  margin-bottom: 1em; }

.content-pane .video-title {
  margin: 0.3em 0 0 0; }

.content-pane .description, .short-description {
  margin: 0.8em 0; }

.content-pane .ui.feed > .event > .content .meta {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

.content-pane .meta .information {
  padding: 0.2em 0.5em 0.1em 0.5em; }

.content-pane .text:not(:last-child) {
  padding-right: 1em; }

.content-pane .meta .information .icon {
  margin-left: 0.5em;
  margin-right: 0.2em; }

.content-pane .ui.feed > .event > .content .meta .information .text {
  margin-left: 0.2em; }

.footer-pane {
  align-items: center;
  justify-content: flex-end;
  flex-basis: 3em; }

.footer-pane i {
  margin-left: 1em; }
/* Large Display */
@media screen and (min-width: 901px) {
  .header-pane {
    padding: 0 3em;
    order: 0; }
  .header-pane .menu {
    display: inline-block;
    margin-right: 0.5em; }
  .navigation-pane {
    order: 1; }
  .navigation-pane .filters {
    padding-left: 3em;
    padding-right: 3em; }
  .content-pane {
    order: 2;
    padding: 1em 3em 0em 3em; }
  .content-pane .meta .information {
    display: flex; }
  .content-pane .info:not(:nth-last-child(2)) {
    padding: 0;
    border: none; }
  .content-pane .text {
    display: inline-flex; }
  .content-pane .short-description {
    display: none; }
  .content-pane .description {
    display: block; }
  .footer-pane {
    padding: 0 3em;
    order: 3; }
  .footer-pane .social-links {
    display: inline-block; }
  .footer-pane .text {
    display: inline-block; }
  .footer-pane .view .small {
    display: none; }
  .footer-pane .view .medium {
    display: none; }
  .footer-pane .view .large {
    display: inline-block; } }

/* Medium Display */
@media screen and (max-width: 900px) {
  .header-pane {
    padding: 0 2em;
    order: 0; }
  .header-pane .menu {
    display: inline-block;
    margin-right: 0.5em; }
  .header-pane .name {
    margin-left: 0.5em; }
  .navigation-pane {
    order: 1; }
  .navigation-pane .filters {
    padding-left: 2em;
    padding-right: 2em; }
  .content-pane {
    order: 2;
    padding: 1em 2em 0em 2em; }
  .content-pane .meta .information {
    display: flex; }
  .content-pane .info:not(:nth-last-child(2)) {
    padding-right: 1em;
    border-right: solid rgba(118, 118, 118, 0.2) 0.06em; }
  .content-pane .text {
    display: none; }
  .content-pane .short-description {
    display: block; }
  .content-pane .description {
    display: none; }
  .footer-pane {
    padding: 0 2em;
    order: 3; }
  .footer-pane .social-links {
    display: inline-block; }
  .footer-pane .text {
    display: inline-block; }
  .footer-pane .view .small {
    display: none; }
  .footer-pane .view .medium {
    display: inline-block; }
  .footer-pane .view .large {
    display: none; } }

/* Small Display */
@media screen and (max-width: 700px) {
  .header-pane {
    padding: 0 1em;
    order: 0; }
  .header-pane .menu {
    display: inline-block;
    margin-right: 0.5em; }
  .header-pane .name {
    display: none; }
  .navigation-pane {
    order: 1; }
  .navigation-pane .filters {
    padding-left: 1em;
    padding-right: 1em; }
  .content-pane .info:not(:nth-last-child(2)) {
    padding: 0;
    border: none; }
  .navigation-pane .text {
    display: none; }
  .content-pane {
    order: 2;
    padding: 1em 1em 0em 1em; }
  .content-pane .meta .information .info {
    display: none; }
  .content-pane .text {
    display: inline-flex; }
  .content-pane .text {
    display: none; }
  .content-pane .short-description {
    display: block; }
  .content-pane .description {
    display: none; }
  .footer-pane {
    order: 3;
    padding: 0 1em; }
  .footer-pane .social-links {
    display: inline-block; }
  .footer-pane .text {
    display: none; }
  .footer-pane .view .small {
    display: inline-block; }
  .footer-pane .view .medium {
    display: none; }
  .footer-pane .view .large {
    display: none; } }
/* Large Display */
@media screen and (min-width: 901px) {
  .header-pane {
    border: solid red 1px; }
  .navigation-pane {
    border: solid red 1px; }
  .content-pane {
    border: solid red 1px; }
  .footer-pane {
    border: solid red 1px; } }

/* Medium Display */
@media screen and (max-width: 900px) {
  .header-pane {
    border: solid orange 1px; }
  .navigation-pane {
    border: solid orange 1px; }
  .content-pane {
    border: solid orange 1px; }
  .footer-pane {
    border: solid orange 1px; } }

/* Small Display */
@media screen and (max-width: 700px) {
  .header-pane {
    border: solid greenyellow 1px; }
  .navigation-pane {
    border: solid greenyellow 1px; }
  .content-pane {
    border: solid greenyellow 1px; }
  .footer-pane {
    border: solid greenyellow 1px; } }
