/* Large Display */
@media screen and (min-width: 900px) {
  .header-pane {
    padding: 0 3em;
    order: 0;
  }
  .header-pane .menu {
    display: none;
  }
  .navigation-pane {
    order: 1;
    margin: 1em 3em 0em 3em;
  }
  .content-pane {
    order: 2;
    padding: 1em 3em 0em 3em;
  }
  .content-pane .short-description {
    display: none;
  }
  .content-pane .description {
    display: block;
  }
  .footer-pane {
    padding: 0 3em;
    order: 3;
  }
  .footer-pane .view .small {
    display: none;
  }
  .footer-pane .view .medium {
    display: none;
  }
  .footer-pane .view .large {
    display: inline-block;
  }
}

/* Medium Display */
@media screen and (max-width: 900px) {
  .header-pane {
    padding: 0 2em;
    order: 0;
  }
  .header-pane .menu {
    display: inline-block;
    margin-right: 0.5em;
  }
  .header-pane .name {
    margin-left: 0.5em;
  }
  .navigation-pane {
    order: 1;
    margin: 1em 2em 0em 2em;
  }
  .content-pane {
    order: 2;
    padding: 1em 2em 0em 2em;
  }
  .content-pane .short-description {
    display: block;
  }
  .content-pane .description {
    display: none;
  }
  .footer-pane {
    padding: 0 2em;
    order: 3;
  }
  .footer-pane .view .small {
    display: none;
  }
  .footer-pane .view .medium {
    display: inline-block;
  }
  .footer-pane .view .large {
    display: none;
  }

}

/* Small Display */
@media screen and (max-width: 700px) {
  .header-pane {
    padding: 0 1em;
    order: 0;
  }
  .header-pane .menu {
    display: inline-block;
  }
  .header-pane .name {
    display: none;
  }
  .navigation-pane {
    order: 1;
    margin: 1em 1em 0em 1em;
  }
  .navigation-pane .text {
    display: none;
  }
  .content-pane {
    order: 2;
    padding: 1em 1em 0em 1em;
  }
  .content-pane .meta {
    display: block;
    float: right;
  }
  .content-pane .text {
    display: none;
  }
  .content-pane .short-description {
    display: block;
  }
  .content-pane .description {
    display: none;
  }
  .footer-pane {
    order: 3;
    padding: 0 1em;
  }
  .footer-pane .text {
    display: none;
  }
  .footer-pane .view .small {
    display: inline-block;
  }
  .footer-pane .view .medium {
    display: none;
  }
  .footer-pane .view .large {
    display: none;
  }
}
