body .container {
  background-color: #4183C4;
}

.header-pane {
  background-color: #1B1C1D;
  color: #4183C4;
}

.header-pane .logo {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.navigation-pane .filters {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.navigation-pane .filters .search-terms .ui.transparent.inverted.input input {
  color: #DB2828;
}

.navigation-pane .filter-text {
  color: #4183C4;
}

.navigation-pane .pagination {
  color: #4183C4;
}

.navigation-pane .page-count {
  color: #4183C4;
}

.navigation-pane .ui.label {
  background-color: #1B1C1D;
  color: #4183C4;
}

.navigation-pane .ui.label>.icon {
  color: #4183C4;
}

.navigation-pane a.ui.label:hover {
  background-color: #1B1C1D;
}

/* Hide scrollbars as they look ugly! */
.content-pane::-webkit-scrollbar {
  display: none;
}

.content-pane .description, .content-pane .short-description {
  font-size: 0.9rem;
  font-style: italic;
}

.footer-pane {
  background-color: #1B1C1D;
  color: #767676;
}

.footer-pane a:link, a:visited, a:hover, a:active {
  color: #767676;
}

.footer-pane i {
  color: #4183C4;
}
