body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  padding: 0 2em;
  margin: 0;
  box-sizing: border-box;
  background-color: #1B1C1D;
  color: #4183C4;
  height: 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

main {
  margin: 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
  height: calc(100vh - 6em);
  width: calc(75vw);
  overflow: auto;
  float: left;
  background-color: #4183C4;
  padding: 2em 2em;
}

main > section {
  margin-bottom: 1em;
}

aside {
  box-sizing: border-box;
  float: left;
  height: calc(100vh - 6em);
  width: calc(25vw);
  overflow: auto;
  background-color: #4183C4;
  margin: 0;
  padding: 2em 2em;
}

aside > section {
  color: #767676;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

aside .flex-row {
  display: flex;
  flex-direction: row;
}

aside .filter-icon {
  flex-grow: 0;
  margin: auto 0;
}

aside .filter-box {
  flex-grow: 1;
  margin-left: 0.4em;
}

#filter-input {
  border: none;
  margin-top: 0.2em;
  padding: 0;
}

.small-text {
  margin-left: 0.2em;
  font-size: 0.9rem;
  font-weight: 100;
}

.drop-down {
  color: #767676;
  font-size: 0.9rem;
  font-weight: 100;
}

.description {
  margin: 0.8em 0;
  font-size: 0.9rem;
  font-style: italic;
}

footer {
  padding: 0 4em 0 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #1B1C1D;
  height: 3em;
  color: dimgrey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
