body .container {
  background-color: #4183C4;
}

.header-pane {
  background-color: #1B1C1D;
  color: #4183C4;
}

.header-pane .logo {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.header-pane .filter-active {
  color: #DB2828;
}

.header-pane .filter-inactive {
  color: inherit;
}

.header-pane  a:link, a:visited, a:hover, a:active {
  color: #4183C4;
  opacity: 1;
}

.navigation-pane .filters .search-terms .ui.transparent.inverted.input input {
  color: #DB2828;
}

.navigation-pane .filter-text {
  color: #4183C4;
}

.navigation-pane .pagination {
  color: #4183C4;
}

.navigation-pane .page-count {
  color: #4183C4;
}

.navigation-pane .ui.label {
  background-color: #1B1C1D;
  color: #4183C4;
  border: solid #1B1C1D 0.08em;
}

.navigation-pane .ui.label>.icon {
  color: #4183C4;
}

.navigation-pane a.ui.label:hover {
  background-color: #1B1C1D;
  border: solid #1B1C1D 0.08em;
}

.navigation-pane a.ui.label:active {
  border: solid #DB2828 0.08em;
}

/* Hide scrollbars as they look ugly! */
.content-pane::-webkit-scrollbar {
  display: none;
}

.content-pane .video-holder {
  margin-top: 1em;
  position: relative;
  padding-bottom: 50%;
  height: 0;
}

.content-pane .video-player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.content-pane .description, .content-pane .short-description {
  font-size: 0.9rem;
  font-style: italic;
}

.content-pane .meta .information {
  border: solid rgba(118, 118, 118, 0.2) 0.08em;
  border-radius: 0.3em;
  background-color: rgba(118, 118, 118, 0.05);
}

.content-pane .text:not(:last-child) {
  border-right: solid rgba(118, 118, 118, 0.2) 0.06em;
}

.content-pane .ui.feed>.event>.content .meta a {
  color: rgba(0,0,0,.6);
  opacity: inherit;
}
.content-pane .ui.feed>.event>.content .meta>.icon {
  cursor: inherit;
}

.footer-pane {
  background-color: #1B1C1D;
  color: #767676;
}

.footer-pane a:link, a:visited, a:hover, a:active {
  color: #767676;
}

.footer-pane i {
  color: #4183C4;
}
