$blue-color: #4183C4;
$red-color: #DB2828;
$grey-color: #767676;
$black-color: #1B1C1D;

.container {
  background-color: $blue-color;
}

.header-pane {
  background-color: $black-color;
  color: $blue-color;
  &-logo {
    letter-spacing: 0.2em;
  }
  &-filter-active {
    color: $red-color;
  }
  a:link, a:visited, a:hover, a:active {
    color: $blue-color;
  }
  &-avatar {
    border-radius: 2em;
  }
}

.navigation-pane {
  &-filter {
    color: $blue-color;
    background-color: $black-color;
    border: solid $black-color 0.08em;
    border-radius: 0.3em;
    font-size: 0.9em;
  }
  &-filter:hover {
    color: $blue-color;
  }
  &-filter:active {
    border: solid $red-color 0.08em;
  }
  &-filter:last-child {
    color: $blue-color;
  }
  &-search-icon {
    color: $blue-color;
  }
  &-filter-search-box {
    background-color: $black-color;
    color: $red-color;
    outline: none;
    border: none;
  }
}

.content-pane {
  /* Hide scrollbars as they look ugly! */
  ::-webkit-scrollbar {
    display: none;
  }
  .description, .short-description {
    font-size: 0.9rem;
    font-style: italic;
  }
  .ui.feed>.event>.content .meta {
    border: solid rgba(118, 118, 118, 0.2) 0.08em;
    border-radius: 0.3em;
    background-color: rgba(118, 118, 118, 0.05);
  }
  .text:not(:last-child) {
    border-right: solid rgba(118, 118, 118, 0.2) 0.06em;
  }
  .ui.feed>.event>.content .meta a {
    color: $black-color;
    opacity: inherit;
  }
  .ui.feed>.event>.content .meta>.icon {
    cursor: inherit;
  }
}

.footer-pane {
  background-color: $black-color;
  color: $grey-color;
  a:link, a:visited, a:hover, a:active {
    color: $grey-color;
  }
  i {
    color: $blue-color;
  }
}
