header, nav, footer, main, section, .container  {
  display: flex;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container, main  {
  flex-direction: column;
  height: 100vh;
}

.header-pane {
  align-items: center;
  justify-content: space-between;
  flex-basis: 3em;
  &-logo {
    margin-right: auto;
  }
  &-avatar {
    width: 2em;
    height: 2em;
    margin: 0 0.8em 0 0.8em;
  }
  &-name:first-of-type {
    margin-left: 0.5em;
  }
  &-name:last-of-type {
    margin-left: 0.5em;
  }
}

.navigation-pane {
  flex-basis: 3em;
  justify-content: flex-end;
  &-filter {
    margin-right: 0.5em;
    padding:  0.1em 0.3em 0.1em 0.3em;
  }
  &-filter:last-child {
    flex: 1;
    margin-right: 0;
    display: flex;
  }
  &-filter-text:nth-child(2) {
    margin-left: 0.5em;
  }
  &-filter-search-box {
    flex: 1;
  }
}

.content-pane {
  width: 100vw;
  flex: auto;
  overflow: auto;
  padding: 0em 2em 0em 2em;
  > section {
    display: block;
    margin-bottom: 1em;
  }
  .video-title {
    margin: 0.3em 0 0 0;
  }
  .description, .short-description {
    margin: 0.8em 0;
  }
  .ui.feed>.event>.content {
    display: flex;
    flex-direction: column;
  }
  .ui.feed>.event>.content .meta {
    display: inline-flex;
    justify-content: flex-end;
    align-self: flex-end;
    padding: 0.2em 0.5em 0.1em 0.5em;
  }
  .text:not(:last-child) {
    padding-right: 1em;
  }
  .meta .icon {
    margin-left: 0.5em;
    margin-right: 0.2em;
  }
  .ui.feed>.event>.content .meta .text {
    margin-left: 0.2em;
  }
}

.footer-pane {
  align-items: center;
  justify-content: flex-end;
  flex-basis: 3em;
  .icon {
    margin-left: 1em;
  }
}
