/* Large Display */
@media screen and (min-width: 901px) {

  .header-pane {
    padding: 0 3em;
  }

  .navigation-pane {
    padding: 1em 3em 0em 3em;
  }

  .content-pane {
    padding: 0em 3em 0em 3em;
    .info:not(:nth-last-child(2)) {
      padding: 0;
      border: none;
    }
    .short-description {
      display: none;
    }
    .description {
      display: block;
    }
  }

  .footer-pane {
    padding: 0 3em;
    &-view-small {
      display: none;
    }
    &-view-medium {
      display: none;
    }
    &-view-large {
      display: inline-block;
    }
  }
}

/* Medium Display */
@media screen and (max-width: 900px) {

  .header-pane {
    padding: 0 2em;
    &-name:last-of-type {
      display: none;
    }
  }

  .navigation-pane {
    padding: 1em 2em 0em 2em;
  }

  .content-pane {
    padding: 0em 2em 0em 2em;
    .info:not(:nth-last-child(2)) {
      padding-right: 1em;
      border-right: solid rgba(118, 118, 118, 0.2) 0.06em;
    }
    .text {
      display: none;
    }
    .short-description {
      display: block;
    }
    .description {
      display: none;
    }
  }

  .footer-pane {
    padding: 0 2em;
    &-view-small {
      display: none;
    }
    &-view-medium {
      display: inline-block;
    }
    &-view-large {
      display: none;
    }

  }
}

/* Small Display */
@media screen and (max-width: 700px) {

  .header-pane {
    padding: 0 1em;
    &-name {
      display: none;
    }
  }

  .navigation-pane {
    padding: 1em 1em 0em 1em;
    &-filter-text:nth-child(1) {
      display: none;
    }
  }

  .content-pane {
    padding: 0em 1em 0em 1em;
    .info:not(:nth-last-child(2)) {
      padding: 0;
      border: none;
    }
    .meta .info {
      display: none;
    }
    .short-description {
      display: block;
    }
    .description {
      display: none;
    }
  }

  .footer-pane {
    padding: 0 1em;
    &-text {
      display: none;
    }
    &-view-small {
      display: inline-block;
    }
    &-view-medium {
      display: none;
    }
    &-view-large {
      display: none;
    }
  }

}
