/* Large Display */
@media screen and (min-width: 901px) {

  .header-pane {
    padding: 0 3em;
    .menu {
      display: inline-block;
      margin-right: 0.5em;
    }
    .name:first-of-type {
      margin-left: 0.5em;
      display: inline-flex;
    }
    .name:last-of-type {
      margin-left: 0.5em;
      display: inline-flex;
    }
  }

  .navigation-pane {
    padding-left: 3em;
    padding-right: 3em;
  }

  .content-pane {
    padding: 1em 3em 0em 3em;
    .info:not(:nth-last-child(2)) {
      padding: 0;
      border: none;
    }
    .text {
      display: inline-flex;
    }
    .short-description {
      display: none;
    }
    .description {
      display: block;
    }
  }

  .footer-pane {
    padding: 0 3em;
    .text {
      display: inline-block;
    }
    &-view-small {
      display: none;
    }
    &-view-medium {
      display: none;
    }
    &-view-large {
      display: inline-block;
    }
  }
}

/* Medium Display */
@media screen and (max-width: 900px) {
  .header-pane {
    padding: 0 2em;
    .menu {
      display: inline-block;
      margin-right: 0.5em;
    }
    .name:first-of-type {
      margin-left: 0.5em;
    }
    .name:last-of-type {
      display: none;
    }
  }

  .navigation-pane {
    padding-left: 2em;
    padding-right: 2em;
  }

  .content-pane {
    padding: 1em 2em 0em 2em;
    .info:not(:nth-last-child(2)) {
      padding-right: 1em;
      border-right: solid rgba(118, 118, 118, 0.2) 0.06em;
    }
    .text {
      display: none;
    }
    .short-description {
      display: block;
    }
    .description {
      display: none;
    }
  }

  .footer-pane {
    padding: 0 2em;
    .text {
      display: inline-block;
    }
    &-view-small {
      display: none;
    }
    &-view-medium {
      display: inline-block;
    }
    &-view-large {
      display: none;
    }

  }
}

/* Small Display */
@media screen and (max-width: 700px) {

  .header-pane {
    padding: 0 1em;

    .menu {
      display: inline-block;
      margin-right: 0.5em;
    }
    .name {
      display: none;
    }
  }

  .navigation-pane {
    padding-left: 1em;
    padding-right: 1em;
    .text {
      display: none;
    }
  }

  .content-pane {
    padding: 1em 1em 0em 1em;
    .info:not(:nth-last-child(2)) {
      padding: 0;
      border: none;
    }
    .meta .info {
      display: none;
    }
    .text {
      display: none;
    }
    .short-description {
      display: block;
    }
    .description {
      display: none;
    }
  }

  .footer-pane {
    padding: 0 1em;
    .text {
      display: none;
    }
    &-view-small {
      display: inline-block;
    }
    &-view-medium {
      display: none;
    }
    &-view-large {
      display: none;
    }
  }

}
