/* Large Display */
@media screen and (min-width: 901px) {

  .header-pane {
    padding: 0 3em;
    order: 0;
    .menu {
      display: inline-block;
      margin-right: 0.5em;
    }
    .name:first-of-type {
      margin-left: 0.5em;
      display: inline-flex;
    }
    .name:last-of-type {
      margin-left: 0.5em;
      display: inline-flex;
    }
  }

  .navigation-pane {
    order: 1;
    .filters {
      padding-left: 3em;
      padding-right: 3em;
    }
  }

  .content-pane {
    order: 2;
    padding: 1em 3em 0em 3em;
    .meta .information {
      display: flex;
    }
    .info:not(:nth-last-child(2)) {
      padding: 0;
      border: none;
    }
    .text {
      display: inline-flex;
    }
    .short-description {
      display: none;
    }
    .description {
      display: block;
    }
  }

  .footer-pane {
    padding: 0 3em;
    order: 3;
    .social-links {
      display: inline-block;
    }
    .text {
      display: inline-block;
    }
    .view {
      .small {
        display: none;
      }
      .medium {
        display: none;
      }
      .large {
        display: inline-block;
      }
    }
  }
}

/* Medium Display */
@media screen and (max-width: 900px) {
  .header-pane {
    padding: 0 2em;
    order: 0;
    .menu {
      display: inline-block;
      margin-right: 0.5em;
    }
    .name:first-of-type {
      margin-left: 0.5em;
    }
    .name:last-of-type {
      display: none;
    }
  }

  .navigation-pane {
    order: 1;
    .filters {
      padding-left: 2em;
      padding-right: 2em;
    }
  }

  .content-pane {
    order: 2;
    padding: 1em 2em 0em 2em;
    .meta .information {
      display: flex;
    }
    .info:not(:nth-last-child(2)) {
      padding-right: 1em;
      border-right: solid rgba(118, 118, 118, 0.2) 0.06em;
    }
    .text {
      display: none;
    }
    .short-description {
      display: block;
    }
    .description {
      display: none;
    }
  }

  .footer-pane {
    padding: 0 2em;
    order: 3;
    .social-links {
      display: inline-block;
    }
    .text {
      display: inline-block;
    }
    .view {
      .small {
        display: none;
      }
      .medium {
        display: inline-block;
      }
      .large {
        display: none;
      }
    }

  }
}

/* Small Display */
@media screen and (max-width: 700px) {

  .header-pane {
    padding: 0 1em;
    order: 0;

    .menu {
      display: inline-block;
      margin-right: 0.5em;
    }
    .name {
      display: none;
    }
  }

  .navigation-pane {
    order: 1;
    .filters {
      padding-left: 1em;
      padding-right: 1em;
    }
    .text {
      display: none;
    }
  }

  .content-pane {
    order: 2;
    padding: 1em 1em 0em 1em;
    .info:not(:nth-last-child(2)) {
      padding: 0;
      border: none;
    }
    .meta .information .info {
      display: none;
    }
    .text {
      display: none;
    }
    .short-description {
      display: block;
    }
    .description {
      display: none;
    }
  }

  .footer-pane {
    order: 3;
    padding: 0 1em;
    .social-links {
      display: inline-block;
    }
    .text {
      display: none;
    }
    .view {
      .small {
        display: inline-block;
      }
      .medium {
        display: none;
      }
      .large {
        display: none;
      }
    }
  }

}
